* {
    margin: 0;
    padding: 0;
}

.sky {
    height: 100vh;
    width: 100%;
    background-image: url(sky.jpg);
    background-size: cover ;
    background-position: center ;
    position: relative;
    overflow-x: hidden;
}
.road {
    height: 200px;
    width: 500%;
    display: block;
    background-image: url(road.jpg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: road 5s linear infinite;
}

@keyframes road
{
    100%{
        transform: translateX(-3400px);
    }
}

.city{
    height: 250px;
    width: 500%;
    display: block;
    background-image: url(city.png);
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: city 5s linear infinite;
}

@keyframes city
{
    100%{
        transform: translateX(-1600px);
    }
}