
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.center {
  position: absolute;
    width: 300px;
    height: 260px;
  top: 70px;
  left: 50px;
    background: #fff;
    box-shadow: 8px 10px 15px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
}

.title {
    font-size: 16px;
    color: #676767;
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #D8D8D8;
    text-align: center;
}

.dropzone {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    width: 100px;
    height: 80px;
    top: 86px;
    left: 100px;
    border: 1px dashed #A4A4A4;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
	
}
	 .dropzone .is-dragover {
		border-color:#666;
		background: #eee;
	}
    
	.content {
		display:table-cell;
		vertical-align:middle;
	}
	
	.upload{
		margin:6px 0 0 2px;
	}
	
	.filename {
		display:block;
		color:#676767;
		font-size:14px;
		line-height:18px;
		z-index:-1;
	}

	
	.input {
		
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		opacity:0;
	}
	
	.dropzone	.input.active {
		display:none;
	}
	


.upload-btn {
	position: absolute;
	width:140px;
	height:40px;
	left:80px;
	bottom:24px;
	background:#6ece3b;
	border-radius: 3px;
	text-align:center;
	line-height:40px;
	font-size:14px;
	box-shadow:0 2px 0 0 #498c25;
	cursor:pointer;
	transition: all 0.2s ease-in-out;
	
}
.upload-btn:hover {
			box-shadow: 0 2px 0 0 #498c25, 0 2px 10px 0 #6ece3b;
		} 

.bar {
	position:absolute;
	z-index:1;
	width:300px;
	height:3px;
	top:49px;
	left:0;
	background:#6ece3b;
	transition:all 3s ease-out;
	transform: scaleX(0);
	transform-origin:0 0 ;
	
}

.bar.active {
	transform: scaleX(1) translate3d(0,0,0);
}
.syncing {
	position:absolute;
	top:109px;
	left:134px;
	opacity:0;
	
}
		.syncing.active {
			animation:syncing 3.2s ease-in-out;
			
		}

.upload.active {
	display:none;
}
.done{
	position:absolute;
	top:112px;
	left:132px;
	opacity:0;
	
}
		.done.active{
			animation: done .5s ease-in 3.2s;
			animation-fill-mode:both;
		}

@keyframes syncing{
	0%{
		transform:rotate(0deg);
	}
	10% {
		opacity:1;
	}
	90%{
		opacity:1;
	}
	100%{
		transform:rotate(360deg);
		opacity:0;
	}
}

@keyframes done {
	from{
		opacity:0;
	}
	to {
		opacity:1;
	}
}

