*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    
}

.hero{
    width:100%;
    height:100vh;
    background-image: url(florian-weichert-qGLuMWDiGSc-unsplash.jpg);
    background-size: cover;
    background-position:center;
    position: relative;
    overflow: hidden;
    
    
    
    
}

span h1{
    color:white;
    font-weight: 600;
    width:100px;
    cursor:pointer;
}

.navbar {
    width:85%;
    height:15%;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

button{
    color:#fbfcfd;
    padding:10px 25px;
    background:transparent;
    border:1px solid #fff;
    border-radius: 20px;
    outline:none;
    cursor: pointer;
    font-size:20px;
}

.content{
    position:absolute;
    color:#000;
    top:50%;
    left:8%;
    transform: translateY(-50%);
    z-index:2

}

.content h1{
    font-size:80px;
    margin:10px 0 30px;
}

.side-bar {
    width:50px;
    height:100vh;
    background: linear-gradient(#067581cc,#000720);
    position: absolute;
    right:0;
    top:0;
}

.menu{
    display:block;
    width:25px;
    margin:48px auto 0;
    cursor:pointer;
}

.social-links img, .useful-links img{
    width: 25px;
    margin:5px auto;
    cursor:pointer;
}

.social-links{
    width:50px;
    text-align:center;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
}

.useful-links{
    width:50px;
    text-align:center;
    position: absolute;
    bottom:30px;
}

.bubbles img{
    animation:bubble 7s linear infinite;
}

.bubbles {
    width:100%;
    display:flex;
    bottom:-70px;
    align-items:center;
    position:absolute;
    justify-content: space-around;
}

@keyframes bubble{
    0%{
        transform:translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
       
        opacity: 1;
    }
    100%{
        transform:translateY(-90vh);
        opacity: 0.2;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width:25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
    
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width:40px;
}
.bubbles img:nth-child(4){
    animation-delay: 0s;

}
.bubbles img:nth-child(5){
    animation-delay: 4.2s;
}
.bubbles img:nth-child(6){
    animation-delay: 2.9s;
    width:35px;
}
.bubbles img:nth-child(7){
    animation-delay: 3.5s;
}